@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

/* ===== Paleta de Cores e Fontes ===== */
:root {
    --cor-fundo-principal: #D2B48C;
    --cor-fundo-secundario: #EEDDCC;
    --cor-texto-escuro: #4A3A26;
    --cor-texto-claro: #F5F5DC;
    --cor-destaque: #8B4513;
    --cor-sombra: rgba(0, 0, 0, 0.46);
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: "Passion One", sans-serif;
    --fonte3: "Sriracha", cursive;
}

/* ===== Configurações Gerais e Centralização ===== */
* {
    margin: 0px;
    padding: 0px;
}

html,
body {
    min-height: 100vh;
    background: linear-gradient(to bottom, var(--cor-fundo-principal), var(--cor-fundo-secundario));
    font-family: var(--fonte1);
    color: var(--cor-texto-escuro);
}

.conteudo-container {
    max-width: 900px;
    margin: 0 auto;
}

/* ===== Cabeçalho ===== */
header {
    background-color: var(--cor-destaque);
    color: var(--cor-texto-claro);
    text-align: center;
}

header>h1 {
    padding-top: 30px;
    font-variant: small-caps;
    font-family: var(--fonte2);
    font-size: 4rem;
}

header>p {
    padding-bottom: 30px;
}

header a {
    color: var(--cor-texto-claro);
    text-decoration: none;
    font-weight: bold;
    transition: all 0.3s ease;
}

header a:hover {
    text-decoration: underline;
    text-shadow: 1px 1px 2px var(--cor-sombra);
}

/* ===== Seções do Corpo ===== */
section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--fonte3);
}

section>p {
    padding-bottom: 2em;
    font-size: 1.5rem;
}

/* Alterando o visual da seção 'normal' para ter um efeito de cartão */
section.normal {
    background-color: var(--cor-texto-claro);
    color: var(--cor-texto-escuro);
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 50px 30px;
    margin: 50px 0;
}

section.imagem {
    background-color: var(--cor-destaque);
    color: var(--cor-texto-claro);
    box-shadow: inset 6px 6px 13px 0px var(--cor-sombra);
    background-size: cover;
    background-attachment: fixed;
}

section.imagem>p {
    display: inline-block;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    text-shadow: 1px 1px 0 var(--cor-sombra);
}

section#img01 {
    background-image: url("imagens/background001.jpg");
    background-position: right center;
}

section#img02 {
    background-image: url("imagens/background002.jpg");
}

/* ===== Rodapé ===== */
footer {
    background-color: var(--cor-destaque);
    color: var(--cor-texto-claro);
    text-align: center;
    padding: 10px;
}

footer a {
    color: var(--cor-texto-claro);
    text-decoration: none;
    transition: all 0.3s ease;
}

footer a:hover {
    text-decoration: underline;
    text-shadow: 1px 1px 2px var(--cor-sombra);
}